<% if current_user.voting_right? %>
  <%= content_for :title, "#{t 'verification.user_verified'} | Votación" %>
<% else %>
  <%= content_for :title, t('verification.user_unverified') %>
<% end %>

<div class="content-content">
  <div class="box-info">
    <% if can?( :step1, :verification) || can?(:index, :online_verifications) %>
      <%= alert_box "Info" do %>
        <% if can?( :step1, :verification) %>
          <p>Puedes acceder al
            <%= link_to verification_step1_path do %>
              <%= image_tag("ico.menu-verif-on.svg") %>
              <%= t('verification.admin') %>
            <% end %>
          </p>
        <% end %>

        <% if can?(:index, :online_verifications) %>
          <p>Puedes acceder al
            <%= link_to online_verifications_path do %>
              <%= image_tag("ico.menu-verif-on.svg") %>
              <%= t('online_verifications.admin') %>
            <% end %>
          </p>
        <% end %>
      <% end %>
    <% end %>

    <% if current_user.voting_right? %>
      <%= render partial: "election_wrapper", locals: { upcoming_elections: @upcoming_elections, elections: @elections, finished_elections: @finished_elections } %>
    <% else %>
      <%= render partial: "verification_pending" %>
    <% end %>
  </div>
</div>
