<p>
  <% if Features.online_verifications? %>
    <% link = link_to t('verification.online_name').downcase,
                      sms_validator_step1_path %>

    <%= t('verification.reasons_both_html', form: link) %>
  <% else %>
    <%= t('verification.reasons_presential') %>
  <% end %>
</p>

<div class="how-to">
  <% if Features.online_verifications? %>
    <p class="title"><%= t('verification.how_to.header') %></p>

    <ol class="numbered">
      <li>
        <strong><%= t('verification.presential_name') %>:</strong><br />
        <%= t('verification.how_to.presential') %>
      </li>

      <li>
        <strong><%= t('verification.online_name') %>:</strong><br />
        <%= t('verification.how_to.online') %>
      </li>
    </ol>
  <% else %>
    <p>
      <%= t('verification.how_to.presential') %>
    </p>
  <% end %>
</div>

<div class="requirements">
  <p class="title"><%= t('verification.requirements.header') %></p>

  <ol class="lettered">
    <li><%= t('verification.requirements.local_id') %></li>
    <li><%= t('verification.requirements.foreign_id') %></li>
  </ol>
</div>

<p class="title"><%= t('verification.bring_your_documents_to') %></p>

<%= render partial: "verification/map" %>
