<% if Verification::Center.any? %>

  <div id="js-verification-map" style="width: 100%; height: 400px"></div>

  <br>

  <ul class="verification-centers js-verification-map-centers"
      <%= (user_signed_in? ? "data-user-postalcode=#{current_user.postal_code}" : '') %>>
    <% Verification::Center.order(name: :asc).each do |center| %>
      <% slots = raw center.verification_slots.map(&:as_opening_time).join('<br />') %>

      <li class="verification-center"
          data-latitude="<%= center.latitude %>"
          data-longitude="<%= center.longitude %>"
          data-name="<%= center.name %>"
          data-address="<%= center.address %>"
          data-slots="<%= slots.to_s %>">
        <h5 class="verification-center-name">
          <%= center.name %>
        </h5>
        <div>
          <%= center.address %>
        </div>
        <div>
          <%= slots.to_s %>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>
    <%= t "verification.show.no_points" %>
  </p>
<% end %>
