<% if Verification::Center.any? %>

  <% if user_signed_in? %>
    <ul class="js-verification-map-centers" data-user-postalcode="<%= current_user.postal_code %>">
  <% else %>
    <ul class="js-verification-map-centers">
  <% end %>

    <% Verification::Center.find_each do |center| %>
      <% slots = center.verification_slots.map(&:as_opening_time).join('. ') %>

      <li class="verification-center" data-location="<%= center.latitude %>, <%= center.longitude %>">
        <h5 class="verification-center-name"><%= center.name %></h5>
        <div class="verification-center-address">
          <%= center.address %>
        </div>
        <div class="verification-center-slots">
          <%= slots.to_s %>
        </div>
      </li>
    <% end %>

    </ul>

  <br>

  <div id="js-verification-map" style="width: 100%; height: 400px"></div>

<% else %>
  <p>
    <%= t "verification.show.no_points" %>
  </p>
<% end %>
