<% content_for :title, t('verification.alerts.ok.title') %>

<div class="content-content verification">
  <div class="box-info">
    <h2><%= t('verification.admin') %></h2>

    <div class="row">
      <%= alert_box "" do %>
        <div class="box-large">
          <span class="title"> <%= t('verification.alerts.ok.title') %> </span>
          <p>
          <%= t('verification.alerts.ok.msg_html') %>
          </p>

          <div class="action">
          <%= link_to t('verification.next_user'), verification_step1_path, class: "button-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
