<% content_for :title, t('verification.step1') %>

<div class="content-content verification">
  <div class="box-info">

    <h2><%= t('verification.admin') %></h2>

    <div class="row">
      <%= render partial: "steps", locals: { step: 1 } %>

      <%= t('verification.welcome_html') %>

      <%= semantic_form_for 'user', url: verification_step2_path, method: :get do |f| %>
        <fieldset class="verification">

          <div class="inputlabel-box">
            <input class="checkbox" id="user_document" name="user[document]" value="1" required="true" type="checkbox">
            <label for="user_document">
              <%= t('verification.form.document') %>
            </label>
          </div>

          <div class="inputlabel-box">
            <input class="checkbox" id="user_town" name="user[town]" value="1" required="true" type="checkbox">
            <label for="user_town">
              <%= t('verification.form.town') %>
            </label>
          </div>

          <div class="inputlabel-box">
            <input class="checkbox" id="user_age_restriction" name="user[age_restriction]" value="1" required="true" type="checkbox">
            <label for="user_age_restriction">
              <%= t('verification.form.age', date: l(Date.current - 16.years) ) %>
            </label>
          </div>

        </fieldset>
        <%= f.submit t('verification.next'), class: "button-primary" %>
      <% end %>

    </div>
  </div>
</div>
