<%= errors_in_form resource %>
<%= semantic_form_for(resource,
                      as: resource_name,
                      url: registration_path(resource_name),
                      html: {novalidate: true}) do |f| %>
  <fieldset>
    <div class="inputlabel-box">
      <% if resource.errors.include?(:first_name) %>
        <%= field_notice_box %>
      <% end %>
      <%= f.input :first_name, required: true, input_html: {autofocus: true, required: true, class: 'input-xl'} %>
    </div><%#--.inputlabel-box--%>

    <div class="inputlabel-box">
      <% if resource.errors.include?(:last_name) %>
          <%= field_notice_box %>
      <% end %>
      <%= f.input :last_name, required: true, input_html: {required: true, class: 'input-xl'} %>
    </div><%#--.inputlabel-box--%>

    <% if action == "new" %>
      <div class="inputlabel-box">
        <% if resource.errors.include?(:document_type) %>
            <%= field_notice_box %>
        <% end %>
        <%= f.input :document_type,
                    required: true,
                    as: :select,
                    collection: User::DOCUMENTS_TYPE,
                    input_html: {required: true, class: 'js-registration-document'} %>
      </div>

      <div class="inputlabel-box">
        <% if resource.errors.include?(:document_vatid) %>
            <%= field_notice_box %>
        <% end %>

        <%= f.input :document_vatid, required: true, input_html: {required: true, class: 'input-s'} %>

      </div>

      <div class="inputlabel-box">
        <label class="control-label"></label>
        <div class="form-wrapper">
          <p class="js-registration-document-dni text-m invisible">
            <%= t('bec.registration.message.dni') %>
          </p>

          <p class="js-registration-document-nie text-m invisible">
            <%= t('bec.registration.message.nie') %>
          </p>

          <p class="js-registration-document-passport text-m invisible">
            <%= t('bec.registration.message.passport') %>
          </p>
        </div>
      </div>
    <% end %>


    <% if action == "edit" %>
      <div class="inputlabel-box inputlabel-box-hint">
        <%= f.input :document_type,
                    required: true,
                    as: :select,
                    collection: User::DOCUMENTS_TYPE,
                    input_html: {required: true, disabled: true, class: 'js-registration-document'} %>
      </div>

      <div class="inputlabel-box">
        <label class="control-label"></label>
        <div class="form-wrapper">
          <p class="text-m"> <%= t('bec.registration.legends.cant_modify') %></p>
        </div>
      </div>

      <div class="inputlabel-box inputlabel-box-hint">
        <%= f.input :document_vatid, required: true, input_html: {disabled: true, required: true, class: 'input-s'} %>
      </div>

      <div class="inputlabel-box">
        <label class="control-label"></label>
        <div class="form-wrapper">
          <p class="text-m"> <%= t('bec.registration.legends.cant_modify') %></p>
        </div>
      </div>
    <% end %>

    <div class="inputlabel-box">
      <% if resource.errors.include?(:born_at) %>
          <%= field_notice_box %>
      <% end %>
      <%= f.input :born_at,
                  required: true,
                  fragment_classes: { year: 'col-year', month: 'col-month', day: 'col-day' },
                  fragment_placeholders: { year: 'año', month: 'mes', day: 'día' },
                  input_html: { required: true, class: 'input-s' },
                  start_year: 1999,
                  end_year: 1900 %>
    </div>

    <div class="inputlabel-box">
      <% if resource.errors.include?(:gender_identity) %>
          <%= field_notice_box %>
      <% end %>

      <%= f.input :gender_identity %>
    </div>

    <div class="inputlabel-box">
      <label class="control-label"></label>
      <div class="form-wrapper">
        <ul>
          <% %w(cis trans fluid).each do |term| %>
            <li class="text-xl">
              <strong><%= t("bec.registration.legends.#{term}_key") %></strong>:
              <%= t("bec.registration.legends.#{term}_definition") %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend><span><%= t('domicilio') %></span></legend>

    <div class="inputlabel-box">
      <%= label :user, :catalonia_resident, class: "control-label" do %>
        <%= t('bec.registration.catalonia_resident') %>
      <% end %>

      <div class="input-box">
        <%= hidden_field_tag "user[catalonia_resident]", '0', id: nil %>
        <%= check_box_tag "user[catalonia_resident]", '1', resource.catalonia_resident, class: 'checkbox' %>
      </div>
    </div>
    <div class="inputlabel-box">
      <% if resource.errors.include?(:country) %>
          <%= field_notice_box %>
      <% end %>
      <%= render partial: 'countries_select' %>
    </div>
    <div class="inputlabel-box">
      <% if resource.errors.include?(:province) %>
          <%= field_notice_box %>
      <% end %>
      <%= render partial: 'subregion_select', locals:{catalonia_resident: resource.catalonia_resident, country: resource.country, province: resource.province, disabled: false, required: true, field: :province, title:"Provincia", options_filter: (resource.can_change_vote_location? ? User.blocked_provinces : nil ) } %>
    </div>
    <div class="inputlabel-box">
      <% if resource.errors.include?(:town) %>
          <%= field_notice_box %>
      <% end %>
      <%= render partial: 'municipies_select', locals:{country: resource.country, province: resource.province, town: resource.town, disabled: false, required: true, field: :town, title:"Municipio"}%>
    </div>
    <div class="inputlabel-box">
      <% if resource.errors.include?(:postal_code) %>
          <%= field_notice_box %>
      <% end %>
      <%= f.input :postal_code, required: true, input_html: {required: true, class: 'input-s'} %>
    </div>
    <div class="inputlabel-box">
      <% if resource.errors.include?(:address) %>
          <%= field_notice_box %>
      <% end %>
      <%= f.input :address, required: true, input_html: {required: true, class: 'input-xl'} %>
    </div>
  </fieldset>

  <fieldset>
    <legend><span><%= t('access_data') %></span></legend>

    <% if action == "new" %>
    <div class="inputlabel-box">
      <% if resource.errors.include?(:email) %>
          <%= field_notice_box %>
      <% end %>
      <%= f.input :email, as: :email, required: true, input_html: {required: true, class: 'input-m'} %>
    </div>
    <div class="inputlabel-box">
      <% if resource.errors.include?(:email_confirmation) %>
          <%= field_notice_box %>
      <% end %>
      <%= f.input :email_confirmation, as: :email, required: true, input_html: {required: true, class: 'input-m'} %>
    </div>
    <div class="inputlabel-box">
      <% if resource.errors.include?(:password) %>
          <%= field_notice_box %>
      <% end %>
      <%= f.input :password, required: true, input_html: {required: true, class: 'input-m', minlength: 6} %>
    </div>

    <div class="inputlabel-box">
      <label class="control-label"></label>
      <div class="form-wrapper">
        <p class="text-m"> <%= t('bec.registration.legends.password_limits') %> </p>
      </div>
    </div>

    <div class="inputlabel-box">
      <% if resource.errors.include?(:password_confirmation) %>
          <%= field_notice_box %>
      <% end %>
      <%= f.input :password_confirmation, required: true, input_html: {required: true, class: 'input-m'} %>
    </div>

      </fieldset>

      <fieldset class="with-tos">
        <legend><span><%= t('consentimiento') %></span></legend>

        <div class="inputlabel-box">
          <% if resource.errors.include?(:inscription) %>
              <%= field_notice_box %>
          <% end %>
          <%= f.label :inscription %>
          <div class="input-box">
            <%= f.check_box :inscription, class: 'checkbox' %>
            <p class="text-m"> <%= t('bec.registration.legends.inscription_html') %> </p>
          </div>
        </div>

        <div class="inputlabel-box">
          <% if resource.errors.include?(:terms_of_service) %>
              <%= field_notice_box %>
          <% end %>
          <%= f.label :terms_of_service %>
          <div class="input-box">
            <%= f.check_box :terms_of_service, class: 'checkbox' %>
            <ul class="terms-links">
              <li>
                <%= link_to t('bec.registration.legends.legal1'), page_privacy_policy_path, target: '_blank' %>
              </li>
              <li>
                <%= link_to t('bec.registration.legends.legal2'), page_legal_path, target: '_blank' %>
              </li>
              <li>
                <%= link_to t('bec.registration.legends.legal3'), page_cookie_policy_path, target: '_blank' %>
              </li>
            </ul>
          </div>
        </div>

        <div class="inputlabel-box">
          <% if resource.errors.include?(:age_restriction) %>
              <%= field_notice_box %>
          <% end %>
          <%= f.label :age_restriction %>
          <div class="input-box">
            <%= f.check_box :age_restriction, class: 'checkbox' %>
          </div>
        </div>

        <div class="inputlabel-box">
          <% if resource.errors.include?(:captcha) %>
              <%= field_notice_box %>
          <% end %>
          <%= f.label :captcha %>
          <div class="input-box">
            <%= f.input :captcha, as: :simple_captcha, input_html: {class: "input-m"} %>
          </div>
        </div>

        <%= f.actions class: 'enter right' do %>
            <%= f.action :submit, label: t("devise.buttons.sign_up"), button_html: {class: "button"} %>
        <% end %>
    <% end %> <%# if action == "new" %>

    <% if action == "edit" %>
        <div class="inputlabel-box">
          <% if resource.errors.include?(:current_password) %>
              <%= field_notice_box %>
          <% end %>
          <%= f.input :current_password, hint: t("devise.hints.current_password"), input_html: {required: true, class: 'input-m'} %>
        </div>
        <%= f.actions class: 'enter' do %>
            <%= f.action :submit, label: t("devise.buttons.edit"), button_html: {class: "button"} %>
        <% end %>
    <% end %><%# if action == "edit" %>
  </fieldset>
<% end %>
