<%= content_for :title, t("user.personal_data") %>

<div class="content-content">
  <div class="row">
    <div class="col-md-6">

      <nav id="personal-data-submenu" class="submenu">
        <ul>
          <li <%= "class=active" if account_update_tab == "general" %>>
            <a href="#personal-data" class="js-change-tab">
              <span><%= t("user.personal_data")%></span>
            </a>
          </li>
          <li <%= "class=active" if account_update_tab == "password" %>>
            <a href="#change-password" class="js-change-tab">
              <span><%=t("user.change_password") %></span>
            </a>
          </li>
          <li <%= "class=active" if account_update_tab == "email" %>>
            <a href="#change-email" class="js-change-tab">
              <span><%=t("user.change_email") %></span>
            </a>
          </li>
          <% if Features.online_verifications? %>
            <% if resource.can_change_phone? %>
              <li>
                <a href="#change-phone" class="js-change-tab">
                  <span><%=t("user.change_phone") %></span>
                </a>
              </li>
            <% end %>

            <% if resource.pending_docs? %>
              <li>
                <a href="#change-documents" class="js-change-tab">
                  <span><%=t("user.change_documents") %></span>
                </a>
              </li>
            <% end %>
          <% end %>
          <li>
            <a href="#cancel-account" class="js-change-tab">
              <span><%= t("user.cancel_account") %></span>
            </a>
          </li>
        </ul>
      </nav><%#!--.submenu--%>


      <div id="personal-data-content" class="box-info">
        <div id="personal-data"
             class="<%= 'invisible' unless account_update_tab == 'general' %> js-personal-content">
          <%= render partial: 'personal_data' %>
        </div>
        <div id="change-password"
             class="<%= 'invisible' unless account_update_tab == 'password' %> js-personal-content">
          <%= render partial: 'change_password' %>
        </div>
        <div id="change-email"
             class="<%= 'invisible' unless account_update_tab == 'email' %> js-personal-content">
          <%= render partial: 'change_email' %>
        </div>
        <% if Features.online_verifications? %>
          <% if resource.can_change_phone? %>
            <div id="change-phone" class="invisible js-personal-content">
              <%= render partial: 'change_phone' %>
            </div>
          <% end %>

          <% if resource.pending_docs? %>
            <div id="change-documents" class="invisible js-personal-content">
              <%= render partial: 'change_documents' %>
            </div>
          <% end %>
        <% end %>
        <div id="cancel-account" class="invisible js-personal-content">
          <%= render partial: 'cancel_account' %>
        </div>
      </div>
    </div>
  </div>
</div>
