<div class="footer">
  <div class="footer-content">
      <ul>
        <li>
          <%= link_to "Català", url_for(locale: :ca) %>
        </li>
        <li>
          <%= link_to "Castellano", url_for(locale: :es) %>
        </li>
      </ul>

      <ul>
        <li>
          <%= link_to t('static.privacy'), page_privacy_policy_path %>
        </li>
        <li>
          <%= link_to t('static.legal'), page_legal_path %>
        </li>
        <li>
          <%= link_to t('static.cookies'), page_cookie_policy_path %>
        </li>
      </ul>
  </div>
</div>
