<div class="header">
  <nav class="navigation-bar">
    <ul id="non_slicknav_menu" class="nav navigation-bar-nav">
      <li class="nav-action">
        <%= link_to t("devise.links.home"),
                   "http://unpaisencomu.cat/#{I18n.locale == :es ? 'es' : ''}" %>
      </li>

      <% if user_signed_in? %>
        <li class="nav-right">
          <%= link_to t("devise.links.sign_out"), destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <% unless current_page?(new_user_registration_path) %>
          <li class="nav-right">
            <%= link_to t("devise.buttons.sign_up"), new_user_registration_path %>
          </li>
        <% end %>

        <% unless current_page?(new_user_session_path) %>
          <li class="nav-right">
            <%= link_to t("devise.buttons.sign_in"), new_user_session_path %>
          </li>
        <% end %>
      <% end %>

      <% if user_signed_in? && Rails.application.secrets.features["verification_presencial"] %>
        <li class="nav-action">
          <%= nav_menu_link_to "Portada", "home", root_path, [root_path], title: "Portada" %>
        </li>
        <% if can? :step1, :verification %>
          <li class="nav-action">
            <%= nav_menu_link_to t("verification.admin"), "verifications", verification_step1_path, [verification_step1_path], title: t("verification.admin") %>
          </li>
        <% end %>
        <% if Rails.application.secrets.features["collaborations"] %>
          <li class="nav-action">
            <%= nav_menu_link_to t("podemos.collaboration.title"), "euro", new_collaboration_path, [new_collaboration_path], title: t("podemos.collaboration.title")  %>
          </li>
        <% end %>
        <li class=nav-action">
          <%= nav_menu_link_to t("user.personal_data"), "user", edit_user_registration_path, [edit_user_registration_path], title: t("user.personal_data") %>
        </li>
      <% end %>
    </ul>
  </nav>

  <% if user_signed_in? &&
      (Rails.application.secrets.features["participation_teams"] ||
       Rails.application.secrets.features["proposals"] ||
       Rails.application.secrets.features["microcredits"] ||
       Rails.application.secrets.features["blog"]) %>
    <div>

      <nav class="menu" id="top_menu">
        <ul>
          <li class="menu-hamb">
            <a id="hamburger_menu" href="#">
              <span>Menú</span>
            </a>
          </li>
          <% unless Rails.env.production? %>
          <li><%= link_to "BETA", "#", class: "js-header-others-show" %></li>
          <% end %>
        </ul>
        <ul class="hide js-header-others-hidden">
          <% if Rails.application.secrets.features["participation_teams"] %>
            <li class="menu-people">
              <%= nav_menu_link_to "Equipos de Participación", "users", participation_teams_path, [participation_teams_path], title: "Equipos de Participación" %>
            </li>
          <% end %>
          <% if Rails.application.secrets.features["proposals"] %>
            <li class="menu-thumbup">
              <%= nav_menu_link_to "Iniciativas ciudadanas", "lightbulb-o", proposals_path, [proposals_path], title: "Iniciativas ciudadanas " %>
            </li>
          <% end %>
          <% if Rails.application.secrets.features["microcredits"] %>
            <li class="menu-credit">
              <%= nav_menu_link_to "Microcréditos", "credit", microcredit_path, [microcredit_path], title: "Microcréditos"  %>
            </li>
          <% end %>
          <% if Rails.application.secrets.features["blog"] %>
            <li class="menu-world">
              <%= nav_menu_link_to "Blog", "compass", blog_path, [blog_path], title: "Blog" %>
            </li>
          <% end %>
        </ul>
      </nav><%#.menu%>
    </div>
<%= render partial: 'sidr_menu' %>
    <% end %>

</div><!-- header -->
