<%= semantic_form_for(current_user,
                      url: sms_validator_documents_path,
                      html: {method: :post, multipart: true}) do |f| %>
  <fieldset>
    <legend class="invisible">Introduce tu documentación</legend>

    <div class="row">
      <div class="info-section">
        <ul class="info-list">
          <li><%= t('sms_validator.documents.local_id') %></li>
          <li><%= t('sms_validator.documents.foreign_id') %></li>
        </ul>
      </div>
    </div>

    <div id="doc-field-container" class="inputlabel-box">
      <% if current_user.errors.include?(:identity_documents) %>
        <%= field_notice_box %>
      <% end %>

      <%= f.semantic_fields_for :identity_documents, current_user.identity_documents.build do |doc_form| %>
        <%= render 'identity_document_fields', f: doc_form %>
      <% end %>

      <div class="doc-link">
        <%= link_to_add_association f, :identity_documents %>
      </div>
    </div>

    <%= f.actions do %>
      <%= f.action :submit, label: t("helpers.button.send_docs"),
                            button_html: {class: "button"} %>
    <% end %>
  </fieldset>
<% end %>
